<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_smartliving_domain_SmokingGoal" modelAttribute="smokingGoal" path="/smokinggoals" versionField="Version" z="vCh3WcPWf1ZhAxwUTITyGRkK5zw=">
        <field:select field="smartUser" id="c_com_smartliving_domain_SmokingGoal_smartUser" itemValue="id" items="${smartusers}" path="/smartusers" z="AIYppmnJk/95CcpJlmct+RgUDjE="/>
        <field:datetime dateTimePattern="${smokingGoal_goaldate_date_format}" field="goalDate" id="c_com_smartliving_domain_SmokingGoal_goalDate" z="Hf4ggrZZ35TZ3SD1ZL/ww+TG9xw="/>
        <field:input field="cigarettesGoal" id="c_com_smartliving_domain_SmokingGoal_cigarettesGoal" min="0" required="true" z="99LmFFTZCZ5JF/ac9qx3LY61tLQ="/>
        <field:input field="currentCigarettesPerDay" id="c_com_smartliving_domain_SmokingGoal_currentCigarettesPerDay" min="0" required="true" z="GPH3bNdXsqr7TjH72fRaJe/UcJ4="/>
    </form:update>
</div>
