<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" xmlns:sec="http://www.springframework.org/security/tags" id="menu" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
        <sec:authorize access="isAuthenticated()">
            <menu:category id="c_smokingdata" z="TYvXkW3YOSXajMvzERxvBQ0Zas0=">
                <menu:item id="i_smokingdata_new" label="Upload Daily Smoking Data" url="/smokingdatas?form" z="user-managed"/>
                <menu:item id="i_smokingdata_list" label="View Progress" url="/smokingdatas?page=1&amp;size=${empty param.size ? 10 : param.size}" z="user-managed"/>
            </menu:category>
	        <menu:category id="c_smokinggoal" z="1d0UNmFLUm1U3s4xVxYR0DJ9GBQ=">
	            <menu:item id="i_smokinggoal_new" messageCode="global_menu_new" url="/smokinggoals?form" z="NLbg3hIkF7To1F8594/DgghKThU="/>
	            <menu:item id="i_smokinggoal_list" messageCode="global_menu_list" url="/smokinggoals?page=1&amp;size=${empty param.size ? 10 : param.size}" z="user-managed" render="false"/>
	        </menu:category>
        </sec:authorize>
        <sec:authorize ifAllGranted="ADMINISTRATOR">
	        <menu:category id="c_smartuser" z="NBd5szQ9/CNp1bNm4HHePnU+NWQ=">
	            <menu:item id="i_smartuser_new" messageCode="global_menu_new" url="/smartusers?form" z="JYg2NdJ69tzXQ5H68xtrSdJMos0="/>
	           	<menu:item id="i_smartuser_list" messageCode="global_menu_list" url="/smartusers?page=1&amp;size=${empty param.size ? 10 : param.size}" z="lXc7mKL89STQ9XaVr7SuObo9R5k="/>
	        </menu:category>
        </sec:authorize>
    </menu:menu>
</div>
